body {
    text-align: center;
}

#contact iframe {
    width: 100%;
}

.movie_uniform {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_uniform i {
    float: right;
}

.mt span {
    color: #ff7700;
}

.schooluniform_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.schooluniform_head i {
    float: right;
}
